body {
    margin: 0;
    font-family: 'lato', sans-serif;
    background-color: aliceblue;
}


form {
    width: 300px;
    margin: 0 auto;
    margin-right: 120px;
    max-width: 100%;
  }
  
  label {
    display: block;
    margin-top: 20px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 20px;
  }

.formulario{
    max-width: 100%;
    top: 0;
    margin-top: -300px;
}

.h3-amarillo{
    color: #FF9933;
}

.parrafo{
    color: #333;
    font-size: 17px;
}

.descripcion-formulario{
    text-align: left;
    margin-left: 50px;
    justify-content: center;
    max-width: 35%;
    line-height: 1.5;
}